* {margin: 0; padding: 0;}
a {text-decoration: none;}

kbd {
    border: 1px solid red;
    width: 4em;
    height: 4em;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
}
main {
    text-align: center;
    /* border: 1px solid red; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    background-image: url(bg.jpg);
    background-size: cover;
}
#main {
    /* border: 1px solid black; */
    display: inline-block;
    background:rgba(255,255,255,0.15);
    border-radius: 10px;
}
#main > div:nth-child(2) {
    /* border: 1px solid red; */
    margin-left: 10px;
}
#main > div:nth-child(3) {
    /* border: 1px solid red; */
    margin-left: -60px;
}
.iconImg {
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: 2px;
    left: 4px;
}
button {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
}
kbd:hover > button {
    display : inline-block;
}
.key {
    width:50px;
    height: 40px;
    background: linear-gradient(to bottom, #292929 0%, #111111 100%);
    border: 1px solid #373737;
    color: #c5c5c5;
    border-radius: 6px;
    box-shadow: 0 0 0 1px #1a1b1c, 0 0 0 2px #1f2020, 0 3px 0 2px #080808;
    display: inline-flex;
    align-items: center;
    justify-items: center;
    position: relative;
}
.key .text {
    position: absolute;
    left: 4px;
    top: 2px;
    font-size: 16px;
    font-family: Helvetica;
}
.row {
    margin: 30px; 
}
.row > .key {
    margin: 0 5px;
}